In [ ]:
# 22. 다음 객체에서 키값 A와 중복된 값이 제거된 1,2,3,4,5,6,7 이 출려되는 코드를 작성
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
In [ ]:

In [ ]:
# 23. 다음 객체에서 행의 각 요소에서 행의 평균을 뺀 값을 출력
df = pd.DataFrame(np.random.random(size=(5, 3)))

In [ ]:
# 24. 다음 객체에서 가장 작은 합계를 가진 숫자열의 열을 출력
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

In [ ]:
# 25. 다음 객체에서 중복된 값이 없는 유니크한 열의 카운트 출력(중복되지 않은 행은 몇 개..)
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3))

In [ ]:
# 26. 객체의 각 행에 대해 세번째 NaN 값이 들어 있는 열을 찾으시오. 일련의 열 레이블을 반환해야 합니다.
# 답은 e, c, d, h, d 입니다.
nan = np.nan
data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]
columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

In [ ]:
# 27. 다음 객체에서 grps 에서 a, b, c 별로 가장 큰 값을 찾으시오.
# 출력 결과는 
#  grps
#   a    409
#   b    156
#   c    345
# 이렇게 나옵니다.
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})